@media screen and (max-width: 1200px) {
    div#agendas {
      display: none;
    }
  }

.bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
}

.about {
    background-image: url("../images/balloons.jpg");
}

.archive {
    background-image: url("../images/reno-from-arrowcreek.jpg");
}

.budget {
    background-image: url("../images/windy-hill.jpg");
}

.calendar {
    background-image: url("../images/lake-tahoe-winter.jpg");
}

.contact {
    background-image: url("../images/truckee-river.jpg");
}

.docs {
    background-image: url("../images/steamboat-springs.jpg");
}

.people {
    background-image: url("../images/truckee-meadows.jpg");
}
 
.index {
    background-image: url("../images/castle-rock.jpg");
}
