.bg-image {
    background-color: transparent;
    background-repeat: repeat;
    background-size: cover;
}

.about {
    background-image: url("../images/balloons.jpg");
}

.archive {
    background-image: url("../images/reno-from-arrowcreek.jpg");
}

.budget {
    background-image: url("../images/windy-hill.jpg");
}

.calendar {
    background-image: url("../images/south-reno.jpg");
}

.contact {
    background-image: url("../images/truckee-river.jpg");
}

.docs {
    background-image: url("../images/steamboat-springs.jpg");
}

.people {
    background-image: url("../images/truckee-meadows.jpg");
}

.index {
    background-image: url("../images/castle-rock.jpg");
}
